[data-component="divider-v2"] {
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  border: none;
  background: var(--v2-border-border-base);
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}
